---
import experiences from "../collections/experiences.json";
import education from "../collections/education.json";
import certifications from "../collections/certifications.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
---

<section class="max-w-4xl mx-auto px-7 lg:px-0">
  <div class="relative z-20 w-full mx-auto lg:mx-0">
    <h2
      class="text-2xl font-bold tracking-tight text-neutral-900 dark:text-neutral-100 sm:text-3xl lg:text-4xl"
    >
      Sobre mí
    </h2>
    <p
      class="whitespace-pre-line mt-1 text-sm leading-6 text-neutral-600 dark:text-neutral-400 sm:mt-4 lg:mt-6 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    Desde que descubrí Internet en mi infancia, me sentí fascinado por las posibilidades que ofrecía. Mi curiosidad por entender su funcionamiento me llevó a estudiar SMR (Sistemas Microinformáticos y Redes), donde adquirí conocimientos sobre servidores, Linux, y los protocolos y estándares de Internet.

    Sin embargo, mi verdadera pasión siempre ha sido crear. Aunque ya tenía nociones básicas de HTML, CSS y JavaScript, fue solo al investigar y estudiar desarrollo web que comprendí el alcance de estas tecnologías. Por eso, hace dos años, decidí cursar el CFGS en Desarrollo de Aplicaciones Web, donde he aprendido un amplio abanico de lenguajes y tecnologías, incluyendo PHP, Laravel, Symfony, y más.
    
    Soy un Desarrollador Web Full Stack Junior, motivado por el aprendizaje continuo y siempre en busca de nuevos desafíos. Tengo experiencia en el desarrollo de aplicaciones web, específicamente en la creación de API's, CRM, maquetación y estoy familiarizado con buenas prácticas.
    

    </p>
  </div>

  <h2
    class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Experiencia
  </h2>
  <div class="px-5 py-10">
    {
      experiences.map((experience, loop) => {
        return (
          <>
            {loop == 0 || loop == 1 ? (
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              </div>
            ) : (
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            )}
          </>
        );
      })
    }
  </div>
  <hr />
  <h2
    class="mt-2 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Formación
  </h2>
  <div class="px-5 py-10">
    {
      education.map((education, loop) => {
        return (
          <>
            {loop == 0 || loop == 1 ? (
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <AboutExperience
                  dates={education.dates}
                  role={education.role}
                  company={education.company}
                  logo={education.logo}
                />
              </div>
            ) : (
              <AboutExperience
                dates={education.dates}
                role={education.role}
                company={education.company}
                logo={education.logo}
              />
            )}
          </>
        );
      })
    }
  </div>

  <!-- <hr />
  <h2
    class="mt-2 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Certificados
  </h2>
  <div class="px-5 pt-10">
    {
      certifications.map((certification, loop) => {
        return (
          <>
            <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
              <AboutExperience
                role={certification.certified}
                company={certification.company}
                logo={certification.logo}
              />
            </div>
          </>
        );
      })
    }
  </div>-->
</section>
